/* font-family: 'Palanquin', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Open Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: "Staatliches", cursive;
  --ff-texting: "Palanquin", sans-serif;
  --ff-footer:  "Open Sans", sans-serif;

  --bg-primary: #eff1ff;
  --fc-primary: #ffffff;
  --fc-secondary: #23053a;
  --fc-h2: #4a4e69;
  --bg-header: #8e9aaf;
  --bg-faixa: #cbc0d3;

  --fs-body: 1.3rem;
  --fs-header: 4rem;
  --fs-h2: 2rem;
}

body {
  font-family: var(--ff-texting);
  background-color: var(--bg-primary);
  font-size: var(--fs-body);
  /* height: 100%; */
}


h1,
span {
  font-family: var(--ff-heading);
  font-size: var(--fs-header);
  color: var(--fc-primary);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 3.4rem;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
}
header {
  background: var(--bg-header);
  display: grid;
  place-items: center;
}

#logo-mobile {
  padding: 3.2rem 0;
}

#logo-desktop {
  padding: 3.2rem 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 3.2rem 6rem;
}

.title {
  padding: 0.8rem;
  background: var(--bg-faixa);
  margin-bottom: 2.9rem;
  width: 100%;
  text-align: center;
}


.text {
  font-family: "Palanquin", sans-serif;
  text-align: center;
  width: 31.5rem;
  /* padding: 3.2rem; */
  font-weight: normal;
  font-size: var(--fs-body);
  line-height: 1.6rem;
  color: var(--fc-secondary);
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.cards .card {
  position: relative;
  height: fit-content;
  overflow: hidden;
  border-radius: 2rem;
}

.card img {
  transition: all 300ms;
}

.card img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.cards .card span {
  font-size: var(--fs-h2);
  color: #4a4e69;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  background: #feeafa;
  border-radius: 2rem;
  width: 11.2rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.cards .card img {
  width: 100%;
  border-radius: 2rem;
}

.card {
  animation: downtop 1500ms reverse 350ms backwards;
  animation-play-state: paused;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}

.name {
  animation: topdown 1500ms 100ms backwards;
  /* animation-fill-mode: ; */
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: rotateX(0px);
  }

  100% {
    opacity: 1;
    transform: rotateX(50px);
  }
}

@media (max-width: 900px){
  .intro-desktop {
    display: none;
  }
  #logo-desktop {
    display: none;
  }

  footer {
    /* display: none; */
  }
}

@media (min-width: 900px) {
  .container {
    display: flex;
  }
  
  
  header {
    width: 37.7rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  
  #logo-mobile {
    display: none;
  }
  .text {
    display: none;
  }
  
  .name {
    display: none;
  }

  footer {
    padding: 1.8rem 3.2rem 6rem;
    margin-left: 37.7rem;
  }
  
  footer p {
    font-size: 1.4rem;
    font-family: var(--ff-footer);
    font-weight: 400;
    color: #4a4e69;
    text-align: center;
  }
  
  footer p a {
    font-weight: 700;
    text-decoration: none;
    color: #4a4e69;
  }

 .intro-desktop {
  color: var(--fc-primary);
  font-size: 1.8rem;
  line-height: 1.5;
  width: 28rem;
  text-align: center;
 }

  .cards {
    margin-left: 37.7rem;
    grid-template-areas: 
    'A B'
    'C B'
    'C D'
    'E F';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  
  .cards .card:nth-child(2) {
    grid-area: B;
  }

  
  .cards .card:nth-child(3) {
    grid-area: D;
  }

  
  .cards .card:nth-child(4) {
    grid-area: C;
  }

  .cards .card:nth-child(5) {
    grid-area: E;
  }
  
  .cards .card:nth-child(6) {
    grid-area: F;
  }



}

@media (min-width: 1440px) {
  .cards {
    grid-template-areas: 
    'A B C'
    'D B E'
    'D F E';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  
  .cards .card:nth-child(2) {
    grid-area: B;
  }

  
  .cards .card:nth-child(3) {
    grid-area: C;
  }

  
  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }
  
  .cards .card:nth-child(6) {
    grid-area: E;
  }

  

}